@import "https://fonts.googleapis.com/css2?family=Lato&display=swap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
button {
    font: inherit;
}
body {
    font-family: "Lato", sans-serif;
}
h1 {
    font-size: 2.5rem;
    font-weight: 800;
}
h2 {
    font-size: 1.875rem;
}
h3 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.125rem;
}
p {
    font-size: 1rem;
}
.button {
    font-size: 1rem;
    font-weight: 800;
}
.button--blue {
    font-weight: 500;
}
.button--small {
    font-size: 0.75rem;
}
.small-text {
    font-size: 0.75rem;
    font-weight: 500;
}
@media (min-width: 900px) {
    .small-text {
        font-size: 0.875rem;
    }
}
.small-text .posted-on,
.small-text .read-more {
    font-weight: 300;
}
.input,
.textarea {
    font: inherit;
    font-size: 1rem;
}
.input--blue,
.textarea--blue {
    color: #fff;
}
.alert-text {
    color: #f94848;
}
.footer {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.6);
}
.blue-bg {
    background-color: #2a2f50;
    color: #fff;
}
.container {
    width: clamp(18rem, 100vw, 38rem);
    margin-inline: auto;
    padding-block: 3rem;
    text-align: center;
}
.homepage {
    width: clamp(19rem, 45vw, 22rem);
    margin-inline: auto;
    text-align: center;
}
.home-empty {
    padding-top: 6rem;
    display: grid;
    gap: 3rem;
}
.home-empty .button {
    margin-inline: auto;
}
.edit-profile__photo {
    margin-inline: auto;
    margin-top: 2rem;
}
.edit-profile .choose-file {
    margin-inline: 2rem;
}
.card__post {
    margin-top: 4rem;
}
.timeline__title {
    margin-bottom: 2rem;
}
.timeline .button {
    margin-left: auto;
    margin-bottom: 1.25rem;
}
.profile__detail {
    max-width: 15.5rem;
    display: flex;
    margin-bottom: 2rem;
    margin-inline: auto;
}
.profile__detail-image {
    margin-right: 1.625rem;
}
.profile__detail-text .name {
    margin-bottom: 1rem;
}
.profile__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.profile__menu a {
    color: rgba(0, 0, 0, 0.25);
}
.profile__menu a.posts {
    color: #2a2f50;
    font-weight: 800;
}
.login {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}
.login .small-text {
    margin-top: 4rem;
}
.button {
    display: block;
    padding: 0.75em 1.25em;
    line-height: 1;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
    border-radius: 50rem;
    border: none;
}
.button--yellow {
    background-color: #f9d948;
    color: #2a2f50;
}
.button--yellow:hover {
    cursor: pointer;
    background-color: rgba(223, 183, 7, 0.85);
}
.button--blue {
    background-color: #2a2f50;
    color: #fff;
}
.button--red {
    background-color: #f94848;
    color: #fff;
}
.button-link {
    color: #f9d948;
    padding-left: 0.25rem;
}
.button-link:hover {
    cursor: pointer;
    color: rgba(223, 183, 7, 0.85);
}
.photo {
    aspect-ratio: 1;
    border-radius: 45px;
}
.photo--small {
    width: 2rem;
}
.photo--medium {
    width: 6rem;
}
.card {
    text-align: left;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
}
.card-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .profile-detail {
    display: flex;
    align-items: center;
}
.card .profile-detail__image {
    margin-right: 0.75rem;
}
.card .profile-detail__name {
    font-size: 0.875rem;
    font-weight: 800;
}
.card__post {
    padding: 2rem;
}
.card__post .card-header-container .icon-container .edit,
.card__post .card-header-container .icon-container .delete {
    margin-left: 0.5rem;
}
.card__post .card-header-container .icon-container svg.edit {
    fill: #495579 !important;
}
.card__post .card-header-container .icon-container svg.delete {
    fill: #f94848 !important;
}
.card__post .posted-on {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
.card__timeline {
    margin-bottom: 1rem;
    padding-block: 1.25rem;
    padding-inline: 1rem;
}
.card__timeline .card-header-container {
    margin-bottom: 1.25rem;
}
.card__timeline .card-body-container {
    padding-inline: 1rem;
}
.card__timeline .card-body-container .post-title {
    margin-bottom: 1rem;
}
.card__timeline .card-body-container .post-body {
    margin-bottom: 1rem;
}
.card__timeline .read-more {
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    color: rgba(0, 0, 0, 0.5);
}
.card__followers {
    padding: 0.5rem 1rem;
}
.header {
    padding: 1rem min(8%, 8rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2f50;
}
.header .account {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.header .account__logout-text {
    color: #fff;
}
.form {
    margin-top: 3rem;
    margin-bottom: 2.25rem;
    margin-inline: auto;
    display: grid;
    gap: 1.25rem;
    justify-content: center;
}
.form .input-container {
    text-align: left;
}
.form .input-container .alert-text {
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.form .input {
    width: clamp(18rem, 35vw, 22rem);
    display: block;
    padding: 0.6rem 1.25rem;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
}
.form .input--blue {
    background-color: #495579;
}
.form .input--blue::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.form .input--blue::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.form .input--white {
    background-color: rgba(0, 0, 0, 0);
    border-color: #495579;
}
.form .input--white::-moz-placeholder {
    color: #495579;
}
.form .input--white::placeholder {
    color: #495579;
}
.form .input:focus {
    border-color: #f9d948;
}
.form .textarea {
    padding: 0.75rem 1.25rem;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1rem;
    border: 2px solid #495579;
    resize: none;
}
.form .textarea::-moz-placeholder {
    color: #495579;
}
.form .textarea::placeholder {
    color: #495579;
}
.form .textarea:focus {
    outline-color: #f9d948;
}
.form .button {
    margin-top: 1rem;
    margin-inline: auto;
    width: 10rem;
    height: 2.5rem;
}
.footer {
    margin-top: auto;
    padding-block: 1rem;
    text-align: center;
} /*# sourceMappingURL=main.css.map */
